<div class="top-row" style="border-bottom: 1px solid #edf2f6">
    <a href="">Carp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <div class="nav">
        <div>
            <p class="emphasize">Classes</p>
            <div>
                @foreach (var className in Classes.ToList())
                {
                    <div class="link">
                        <a href="/@EncodedPath/#@className">
                            @className
                        </a>
                    </div>
                }
            </div>
        </div>
        <div>
            <p class="emphasize">Interfaces</p>
            <div>
                @foreach (var interfaceName in Interfaces.ToList())
                {
                <div class="link">
                    <a href="@EncodedPath/#@interfaceName">
                        @interfaceName
                    </a>
                </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string EncodedPath { get; set; }

    [Parameter]
    public IEnumerable<string> Classes { get; set; }

    [Parameter]
    public IEnumerable<string> Interfaces { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
