@page "/"
@using System.Web
@using Carp.Parsers;
@inject IAnalysisService _analysis;
@inject HttpClient client;

<h1>First Program Parse</h1>

<pre>@Program</pre>


@if (_programStructure != null)
{
    @foreach (var nameSpace in _programStructure?.Namespaces)
    {
        <p>Namespace: @nameSpace.Name</p>

        foreach (var classDef in nameSpace?.Classes)
        {
            <p>Class: @classDef.Name</p>

            foreach (var methodDef in classDef?.Methods)
            {
                <p>Method: @methodDef.Name</p>
            }
        }
    }
}


@code {
    public string Program { get; set; }
    public ProgramStructure _programStructure { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _programStructure = await _analysis.AnalyzeStructureAsync();
        Program = _analysis.ProgramText;
    }

}