@page "/"
@using System.Web;

<h1>First Program Parse</h1>

@((MarkupString)Program)


<p>@Name</p>
<button @onclick="printFunctionName">Give Me First Method Name</button>


@code {

    public string Program = $"<pre>{HttpUtility.HtmlEncode(Analysis.programText)}</pre>";

    public string Name { get; set; }

    private void printFunctionName()
    {
        Name = Analysis.FirstFunctionName();
    }


}